#!/bin/sh
###########################
# claims deploy config
###########################
master="10.11.1.192"
#slaves="10.11.1.193"
claimshome=/home/claims/deploy
user=claims
logpath=$CLAIMS_HOME/sbin/logs
runclaimsprocid=$CLAIMS_HOME/sbin/.claimssserver.pid

##########################
# claimsserver config
##########################
local_disk_mode=1

################################
# localdisk
################################
data=/home/claims/data/test/concert/
################################
# hdfs
################################
#data=/home/claims/data/tpc-h/sf1/1partition/
#data=/home/claims/data/tpc-h/sf1/4partition/
#data=/home/claims/data/tpc-h/sf1/8partition/
#data=/home/claims/data/tpc-h/sf10/1partition/
#data=/home/claims/data/tpc-h/sf10/4partition/
#data=/home/claims/data/tpc-h/sf10/8partition/
#data=/home/claims/data/tpc-h/sf100/1partition/
#data=/home/claims/data/tpc-h/sf100/4partition/
#data=/home/claims/data/tpc-h/sf100/8partition/
client_listener_port=11000
