#!/bin/sh
###########################
# claims deploy config
###########################
master="127.0.0.1"
#slaves="10.11.1.191 10.11.1.193 10.11.1.194"
deploypath=/home/claims
user=claims

logfilepath=$CLAIMS_HOME/sbin/logs

runclaimsprocid=$CLAIMS_HOME/sbin/.claimssserver.pid

##########################
# claimsserver config
##########################
local_disk_mode=1

#data=/home/claims/data/test/sf-1/
#data=/home/claims/data/test/mysqltest/
#data=/home/claims/data/test/18-partition/sf-1/
#data=/home/claims/data/test/SSE_demo/
#data=/home/claims/data/demo/sse1day/
#data=/home/claims/data/demo/sse1month/
#data=/home/claims/data/demo/sse1week/
#data=/home/imdb/data/yk/
#data=/home/imdb/data/test/decimal/
#data=/home/imdb/data/test/tpch-sf1/
#data=/home/imdb/data/demo/poc/
#data=/home/claims/data/test/
#data=/home/claims/data/test/decimal/
#data=/home/imdb/data/tpc-h/1-partition/sf-1/
#data=/home/imdb/data/tpc-h/4-partition/sf-1/
#data=/home/imdb/data/tpc-h/1-partition/sf-10/
#data=/home/imdb/data/tpch/
#data=/home/imdb/data/tpc-h/8-partition/sf-1/
#data=/home/claims/data/test/sf-1/
#data=/home/claims/data/demo/poc/
#data=/home/imdb/data/test/load/
################################
# new tpch data for test
################################
#data=/home/claims/data/tpc-h/1-partition/sf-1/
#data=/home/claims/data/tpc-h/4-partition/sf-1/
#data=/home/claims/data/tpc-h/8-partition/sf-1/
#data=/home/claims/data/tpc-h/1-partition/sf-10/
#data=/home/claims/data/tpc-h/4-partition/sf-10/
#data=/home/claims/data/tpc-h/8-partition/sf-10/
#data=/home/claims/data/tpc-h/1-partition/sf-100/
#data=/home/claims/data/tpc-h/4-partition/sf-100/
#data=/home/claims/data/tpc-h/8-partition/sf-100/
data=/home/imdb/data/tpc-h/1-partition/sf-1/
client_listener_port=10000
