#!/bin/sh
###########################
# claims deploy config
###########################
[cluster]
master="127.0.0.1"
#slaves="10.11.1.190 10.11.1.191 10.11.1.193 10.11.1.194 10.11.1.195 10.11.1.196 10.11.1.197 10.11.1.198 10.11.1.199"
claimshome=/home/imdb/deploy
user=imdb
logpath=sbin/logs
runclaimsprocid=sbin/.claimssserver.pid

##########################
# claimsserver config
##########################
[claims]
local_disk_mode=0

################################
# localdisk
################################
#data=/home/claims/data/test/concert/
data=/home/claims/data/tpc-h/sf100/8partition
################################
# hdfs
################################
#data=/home/claims/data/tpc-h/sf1/1partition/
#data=/home/claims/data/tpc-h/sf1/4partition/
#data=/home/claims/data/tpc-h/sf1/8partition/
#data=/home/claims/data/tpc-h/sf10/1partition/
#data=/home/claims/data/tpc-h/sf10/4partition/
#data=/home/claims/data/tpc-h/sf10/8partition/
#data=/home/claims/data/tpc-h/sf100/1partition/
#data=/home/claims/data/tpc-h/sf100/4partition/
#data=/home/claims/data/tpc-h/sf100/8partition/
client_listener_port=11000
