*.Po
*.a
*.dat*
*.doxyfile
*.o
*sql.output
.cproject
.gitignore.swp
.history
.project
.settings
Build
Config.cpp
Debug.h
Default
Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache/
bin/
build
claims.log
claimsserver
client
compile
conf
conf/config
config.guess
config.h
config.h.in
config.h.in*
config.h.in~
config.log
config.status
config.sub
configure
depcomp
include/
install-sh
install/
libtool
ltmain.sh
missing
stamp-h1
thirdparty/
缺省值
