!thirdparty/
*.Po
*.a
*.doxyfile
*.dat*
*.doxyfile
*.o
.cproject
.gitignore.swp
.history
.project
.settings
/test
Build
Config.cpp
Debug.h
Default
Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache/
bin/
build
claims.log
claimsserver
client
compile
conf
conf/config
config.guess
config.h
config.h.in
config.h.in*
config.h.in~
config.log
config.status
config.sub
configure
depcomp
include/
install-sh
install/
libtool
log
ltmain.sh
missing
stamp-h1
Makefile.in
*.Po
Debug.h
install/
*.a
*.o
Makefile
config.h
config.h.in
config.log
configure
claims.log
doc
conf
conf/config
build
Build
*.dat*
include/
.history
compile
thirdparty/
ar-lib
缺省值
CLAIMS.config
CLAIMS.creator*
CLAIMS.files
CLAIMS.includes
*sql.output
*.doxyfile
sbin/.claimssserver.pid
sbin/2-claims-conf/
sbin/claims-test/claims_log/
sbin/claims-test/test_for_DI_GetTuple
sbin/claims-test/testresult/*.result
sbin/logs/
sbin/claims_log/
