h1 {
	padding-bottom: 5px;
	border-bottom: 1px solid #DEDEDE;
	font-size: 200%;
	color: #836790;
  font-weight: lighter;
	font-family: "Raleway";
}
h2 {
	font-size: 180%;
	color: #888888;
	font-family: "latoregular";
}
.chara {
	text-align: center;
}
#chart {
	max-width: 450px; 
	max-height: 239px;
}
#chart-img {
	width: 100%; 
	height: 100%;
}
.my-btn {
	background-color: #FFFFFF;
	border: 1px solid #EBCAFE;
}
.my-btn:hover, .my-btn:focus {
	background-color: #EBCAFE;
}
#document-more {
	font-family: "Open Sans";
}
